
<p>Olá {{ customerName }}, tudo bem? <br>
Primeiramente agradeçemos a sua confiança e seja muito bem vinda(o) á kar4kids! Ficamos felizes em poder contribuir com atividades que são importantíssimas para o futuro do seu filho(a)!<br><br>
Nosso propósito é nutrir o sentimento mais poderoso do mundo: o Amor de mãe! E queremos fazer isso facilitando o dia-a-dia de toda mamãe e papai.</p>

<br>
<h4>Produto:</h4>
<p>{{ productTitle }}</p>

<br>
<h4>Pedido número:</h4>
<p>{{ orderNumber }}</p>

<br>
<h4>CONFIRME SUAS INFORMAÇÕES</h4>
<p> Por favor responda esse email confirmando as seguintes informações:</p>
<hr>
<table>
    <tbody>
        <tr>
            <td>Nome do Responsável</td>
            <td></td>
        </tr>
        <tr>
            <td>CPF do Responsável</td>
            <td></td>
        </tr>
        <tr>
            <td>RG do Responsável</td>
            <td></td>
        </tr>
        <tr>
            <td>CEP do Responsável</td>
            <td></td>
        </tr>
        <tr>
            <td>Tel&#x2F;WhatsApp</td>
            <td></td>
        </tr>
        <tr>
            <td>Nome da criança</td>
            <td></td>
        </tr>
        <tr>
            <td>Data de Nascimento</td>
            <td></td>
        </tr>
        <tr>
            <td>Colégio</td>
            <td></td>
        </tr>
        <tr>
            <td>Série</td>
            <td></td>
        </tr>
    </tbody>
</table>
<hr>
<br>

<p>Após o envio das informações necessárias, entraremos em contato pelo WhatsApp em até 3 dias úteis para tirar suas dúvidas, confirmarmos o início das aulas e darmos as demais informações relativa á matrícula e mãetorista (caso necessário).
    <br><br>
    Caso prefira tirar alguma dúvida ou fazer alguma observação agora, clique aqui
    <a href="https://api.whatsapp.com/send?phone=1125000400">(link para WhatsApp)</a>
    <br><br>
    Mais uma vez agradecemos pela confiança e parabéns por dar mais esse passo rumo ao desenvolvimento do seu filho(a)!
</p>

<hr>
<p><b>
    Atenciosamente
    <br><br>
    Danilo Moniwa
    <br><br>
    CEO e Founder
    <br><br>
    (11) 2500-0400
</p></b>